# 安装此插件在编辑.editorconfig时可自带提示功能 【EditorConfig for VS Code】
# 表明是最顶层的配置文件，发现设为true时，才会停止查找.editorconfig文件
root = true 

[*] # 对所有文件生效
# 设置默认编码为utf-8
charset = utf-8 
# space为soft-tabs,tab为hard-tabs
indent_style = space 
# 设置整数表示规定每级缩进的列数和soft-tabs的宽度（译注：空格数）。如果设定为tab，则会使用tab_width的值（如果已指定）
indent_size = 2
# 定义换行符，支持lf、cr和crlf
end_of_line = lf 
# 设为true表明使文件以一个空白行结尾，false反之
insert_final_newline = true 
# 设为true表示会除去换行行首的任意空白字符，false反之
trim_trailing_whitespace = true 

[*.md]
# 设为true表明使文件以一个空白行结尾，false反之
insert_final_newline = false 
# 设为true表示会除去换行行首的任意空白字符，false反之
trim_trailing_whitespace = false 
